<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <bean id="taskExecutor"
          class="org.springframework.scheduling.commonj.WorkManagerTaskExecutor"
          p:workManagerName="java:comp/env/wm/demomanager"
          p:resourceRef="true"/>
          
    <bean id="task" 
          class="name.samolisov.demo.spring.workmanager.services.task.HelloWorldTask"/>
          
    <bean id="runnableService" 
          class="name.samolisov.demo.spring.workmanager.services.BlankRunnableService"
          p:workManager-ref="taskExecutor"
          p:task-ref="task"
          p:taskCount="4"/>
</beans>
